<%= form_for @short_link do |f| %>
  <% if @short_link.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@short_link.errors.count, "error") %> prohibited
        this short link from being saved:
      </h2>
      <ul>
        <% @short_link.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :original_url, placeholder: 'Paste a url' %>
  <%= f.submit 'Shorten' %>
<% end %>
